{% extends 'layout.html' %}

{% block heads %}
{{super()}}
<link rel="stylesheet" href="{{url_for('static', filename='css/signup.css')}}">
{% endblock %}

{% block content %}
<div class="container">
	{% if error %}
    	<p class="error" ><strong>Error: </strong> {{ error }}</p>
  	{% endif %}

  		{% from "__formhelpers.html" import render_field %}
		<form method=post>
  			<dl>
			    {{ render_field(form.username) }}
			    {{ render_field(form.email) }}
			    {{ render_field(form.password) }}
			    {{ render_field(form.confirm) }}
			    {{ render_field(form.accept_tos) }}
  			</dl>
  			<p><input type=submit value=Register>
		</form>

</div>
{% endblock %}